# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual env
venv/
.env

# Node
node_modules/
frontend/node_modules/

# Builds/Static
staticfiles/
media/
dist/
frontend/dist/

# IDE/editor
*.swp
*.swo
.DS_Store
.vscode/
.idea/

# Certs/keys
*.pem
*.crt
*.key

# Local files
*.log
docker-compose.yml
todo.md
